.right-user {
  position: fixed;
  right: 0;
  display: flex;
  align-items: center;
  background-color: #D7D2CB;
  padding: 10px 15px;
  border-radius: 0px 0px 0px 200px;
  -moz-border-radius: 0px 0px 0px 200px;
  -webkit-border-radius: 0px 0px 0px 200px;

  -webkit-box-shadow: -14px 25px 31px 0px rgba(0,0,0,0.41);
  -moz-box-shadow: -14px 25px 31px 0px rgba(0,0,0,0.41);
  box-shadow: -14px 25px 31px 0px rgba(0,0,0,0.41);

  z-index: 1000;
  border: 1px solid #000000;
}

.user-icon {
  font-size: 24px;
  margin-right: 12px;
  color: #000000;
}

.username {
  font-size: 16px;
  color: #000000;
  margin-right: 20px;
}

.logout-button {
  background-color: #dc3545;
  border: none;
  border-radius: 5px;
  color: #E3DDD5;
  cursor: pointer;
  padding: 5px 12px;
  display: flex;
  align-items: center;
  font-size: 14px;
  transition: background-color 0.3s;
}

.logout-button:hover {
  background-color: #c82333;
}

.logout-icon {
  margin-right: 8px;
  font-size: 18px;
}
