.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-box {
  background-color: #D7D2CB;
  border: 2px solid #BDB8B1;
  border-radius: 10px;
  padding: 20px;
  box-shadow: -16px 31px 24px 0px rgba(0, 0, 0, 0.27);
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-box h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #575551;
  text-align: center;
}

.register-box form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.register-box .form-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  width: 100%;
  max-width: 400px;
}

.register-box label {
  margin-right: 10px;
  font-size: 14px;
  color: #575551;
  width: 150px;
  text-align: right;
}

.register-box input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #575551;
  border-radius: 5px;
  width: 100%;
}

.register-box button {
  padding: 10px;
  font-size: 16px;
  color: #E3DDD5;
  background-color: #575551;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  max-width: 300px;
}

.register-box button:hover {
  background-color: #444;
}

.register-box .error-message,
.register-box .success-message {
  margin-bottom: 15px;
  text-align: center;
}
