.task-item {
  position: relative;
  list-style: none;
  background-color: #E3DDD5;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}


.edit-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #0984e3;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  z-index: 1000;
  transition: background-color 0.3s;
}

.edit-button:hover {
  background-color: #075aa8;
}


.task-details {
  position: relative;
}

.task-toggle {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 10px;
  color: #0984e3;
}

.task-toggle span {
  margin-left: 8px;
}

.task-description {
  margin-top: 10px;
  font-style: italic;
  color: #2d3436;
}
