.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  background-color: #D7D2CB;
  border: 2px solid #BDB8B1;
  border-radius: 10px;
  padding: 20px;
  box-shadow: -16px 31px 24px 0px rgba(0, 0, 0, 0.27);
  width: 100%;
  max-width: 400px;
}

.login-box h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #575551;
}

.login-box form {
  display: flex;
  flex-direction: column;
}

.login-box label {
  margin-bottom: 5px;
  font-size: 14px;
  color: #575551;
}

.login-box input {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #575551;
  border-radius: 5px;
}

.login-box .button-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.login-box button {
  padding: 10px;
  font-size: 16px;
  color: #E3DDD5;
  background-color: #575551;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  flex: 1;
}

.login-box button:hover {
  background-color: #444;
}

.login-box .register-button {
  padding: 10px;
  font-size: 16px;
  color: #E3DDD5;
  background-color: #0984e3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  flex: 1;
}

.login-box .register-button:hover {
  background-color: #074a8b;
}

.login-box .error {
  color: #dc3545;
  margin-bottom: 15px;
}
