body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #E3DDD5, #575551); /* Gradiente de fundo */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-container {
  display: flex;
  flex: 1;
}

.main-content {
  flex: 1;
  padding: 20px;
  margin-left: 125px; /* Ajuste conforme o tamanho da Sidebar */
  transition: margin-left 0.3s; /* Transição suave ao colapsar a Sidebar */
}

/* Ajuste quando a Sidebar está colapsada */
.sidebar.collapsed ~ .main-content {
  margin-left: 50px; /* Ajuste conforme o tamanho da Sidebar colapsada */
}
